@model OdeToFood.Models.Product
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inventory System : Add Item</title>
</head>
<body>
    <h1>
        Add New Item
    </h1>
    <form method="post">
        <label>Name : </label>
        <input name="Name" value="" />
        <label>Price : </label>
        <input name="Price" value="" />
        <label>Quantity : </label>
        <input name="Quantity" value="" />
        <label>Type : </label>
        <input name="Type" value="" />
        <input type="submit" name="save" value="Save" />
    </form>
</body>
</html>

